
<div class="col-xs-12 col-sm-6 col-sm-offset-3">

  <div class="row" style="background-color:#fafafa; border-radius: 0.3em; padding: 10px 10px 10px 10px; margin-bottom: 20px;">

    <h2 style="text-align:center; border-bottom:#DCDCDC 1px solid;">
      トピックの投稿
    </h2>

    <%= render 'form' %>

  </div>
</div>
